.header-container {
        padding: 10vh 10vw;

        .img {
                background-color: gray;
                padding: 150px 50px;

        }

        .text {
                margin: 10px 60px 0 20px;

                h2 {
                        color: darkslategray;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                }

                p {
                        margin-top: 50px;
                        font-weight: bold;
                }
        }
}