.footer-container {
        color: white;

        .footer-header {
                background-color: #262626;
                color: white;
                height: 30vh;

                .txt {
                        text-align: center;
                        margin: 15px;

                        h2 {
                                text-transform: uppercase;
                                margin: auto;
                                padding: 10px;
                        }

                        p {
                                margin: 20px;
                        }

                }
        }

        .footer-main {
                margin-top: -15vh;
                padding: 2vh 15vw;
                position: relative;

                .head {

                        .img {
                                height: 40vh;

                                img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        filter: brightness(30%);
                                }
                        }

                        .txt {
                                position: absolute;
                                top: 10%;
                                left: 20%;
                                padding-right: 20vw;
                                margin-top: 20px;

                                h2 {
                                        text-transform: uppercase;
                                        letter-spacing: 5px;
                                        font-weight: bold;
                                        font-size: 50px;
                                }

                                button {
                                        background-color: white;
                                        padding: 5px 100px;
                                        font-weight: bold;
                                        border: none;
                                        float: right;
                                }
                        }

                }

                .card {
                        color: black;
                        margin-top: 50px;

                        .img {
                                background-color: #9d9d9d;
                                height: 20vh;
                        }

                        button {
                                background-color: gray;
                                padding: 0 50px;
                                color: white;
                                border: none;
                                margin-top: 10px;
                        }
                }
        }
}