.main-container {

        .main-header {
                background-color: #131313;
                color: white;
                height: 30vh;

                .txt {
                        text-align: center;
                        margin: 15px;

                        h2 {
                                text-transform: uppercase;
                                margin: auto;
                        }

                        p {
                                margin: 20px;
                        }

                }
        }

        .card-container {
                margin-top: -15vh;
                padding: 0 10vw;

                .card {
                        border: 1px solid lightgray;
                        margin: 20px 0;

                        .card-header {
                                background-color: white;
                                font-weight: bold;
                                padding: 5px 20px;
                        }

                        .img {
                                background-color: #131313;
                                height: 30vh;
                        }

                        .card-body {
                                padding: 40px;

                                button {
                                        background-color: gray;
                                        padding: 0 50px;
                                        color: white;
                                        border: none;
                                        margin-top: 10px;
                                        @media (max-width: 1100px) {
                                                padding: 10px;
                                        }
                                }
                        }
                }
        }

        .bottom-main-container {
                margin: 10vh 0;
                padding: 0 10vw;

                .txt {

                        h2 {
                                color: darkslategray;
                                text-transform: uppercase;
                                letter-spacing: 5px;
                        }

                        .p {
                                margin-top: 30px;
                                font-weight: bold;
                        }
                }

                .img {
                        background-color: gray;
                        width: 80%;
                        height: 100%;
                }
        }

}