.header-container {
  padding: 10vh 10vw;
}
.header-container .img {
  background-color: gray;
  padding: 150px 50px;
}
.header-container .text {
  margin: 10px 60px 0 20px;
}
.header-container .text h2 {
  color: darkslategray;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.header-container .text p {
  margin-top: 50px;
  font-weight: bold;
}

.main-container .main-header {
  background-color: #131313;
  color: white;
  height: 30vh;
}
.main-container .main-header .txt {
  text-align: center;
  margin: 15px;
}
.main-container .main-header .txt h2 {
  text-transform: uppercase;
  margin: auto;
}
.main-container .main-header .txt p {
  margin: 20px;
}
.main-container .card-container {
  margin-top: -15vh;
  padding: 0 10vw;
}
.main-container .card-container .card {
  border: 1px solid lightgray;
  margin: 20px 0;
}
.main-container .card-container .card .card-header {
  background-color: white;
  font-weight: bold;
  padding: 5px 20px;
}
.main-container .card-container .card .img {
  background-color: #131313;
  height: 30vh;
}
.main-container .card-container .card .card-body {
  padding: 40px;
}
.main-container .card-container .card .card-body button {
  background-color: gray;
  padding: 0 50px;
  color: white;
  border: none;
  margin-top: 10px;
}
@media (max-width: 1100px) {
  .main-container .card-container .card .card-body button {
    padding: 10px;
  }
}
.main-container .bottom-main-container {
  margin: 10vh 0;
  padding: 0 10vw;
}
.main-container .bottom-main-container .txt h2 {
  color: darkslategray;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.main-container .bottom-main-container .txt .p {
  margin-top: 30px;
  font-weight: bold;
}
.main-container .bottom-main-container .img {
  background-color: gray;
  width: 80%;
  height: 100%;
}

.footer-container {
  color: white;
}
.footer-container .footer-header {
  background-color: #262626;
  color: white;
  height: 30vh;
}
.footer-container .footer-header .txt {
  text-align: center;
  margin: 15px;
}
.footer-container .footer-header .txt h2 {
  text-transform: uppercase;
  margin: auto;
  padding: 10px;
}
.footer-container .footer-header .txt p {
  margin: 20px;
}
.footer-container .footer-main {
  margin-top: -15vh;
  padding: 2vh 15vw;
  position: relative;
}
.footer-container .footer-main .head .img {
  height: 40vh;
}
.footer-container .footer-main .head .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}
.footer-container .footer-main .head .txt {
  position: absolute;
  top: 10%;
  left: 20%;
  padding-right: 20vw;
  margin-top: 20px;
}
.footer-container .footer-main .head .txt h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 50px;
}
.footer-container .footer-main .head .txt button {
  background-color: white;
  padding: 5px 100px;
  font-weight: bold;
  border: none;
  float: right;
}
.footer-container .footer-main .card {
  color: black;
  margin-top: 50px;
}
.footer-container .footer-main .card .img {
  background-color: #9d9d9d;
  height: 20vh;
}
.footer-container .footer-main .card button {
  background-color: gray;
  padding: 0 50px;
  color: white;
  border: none;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1300px) {
  .footer-container .footer-main .head .img {
    height: 60vh;
  }
  .footer-container .footer-main .head .txt {
    position: absolute;
    top: 5%;
    left: 20%;
    margin: 0;
    padding-right: 20vw;
  }
  .footer-container .footer-main .head .txt button {
    padding: 5px 50px;
  }
}
@media (max-width: 850px) {
  .footer-container .footer-main .head .img {
    height: 80vh;
  }
}
@media (max-width: 500px) {
  .footer-container .footer-main .head .img {
    height: 100vh;
  }
}

/*# sourceMappingURL=index.css.map */
