@import "header/header";
@import "main/main";
@import "footer/footer";

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

@media (max-width: 1300px) {
        .footer-container {
                .footer-main {
                        .head {
                                .img {
                                        height: 60vh;
                                }

                                .txt {
                                        position: absolute;
                                        top: 5%;
                                        left: 20%;
                                        margin: 0;
                                        padding-right: 20vw;

                                        button {
                                                padding: 5px 50px;
                                        }
                                }

                        }
                }
        }
}

@media (max-width: 850px) {
        .footer-container {
                .footer-main {
                        .head {
                                .img {
                                        height: 80vh;
                                }
                        }
                }
        }
}

@media (max-width: 500px) {
        .footer-container {
                .footer-main {
                        .head {
                                .img {
                                        height: 100vh;
                                }
                        }
                }
        }
}